<!-- Comments -->
<div class="comments">
  <h2 claass="page-header"><%= @post.comments.length %> Comments</h2>
  <% @post.comments.each do |comment| %>
  <div class="comment">
    <div class="row">
      <div class="col-md-2">
        <%= image_tag("user.jpg") %>
      </div>
      <div class="col-md-10">
        <div class="well">
          <h4><%= comment.name %><span>/<%= comment.created_at.to_time.strftime('%B %e at %l:%M %p') %></span></h4>
          <%= comment.body %>
        </div>
      </div>
    </div>
  </div>
  <% end %>      

  <div class="well add-comment">
    <h2 class="page-header">Add Comment</h2>
    <%= form_for([@post, @post.comments.build]) do |f| %>
  
      <div class="form-group">
        <%= f.label :name %><br>
        <%= f.text_field :name, class:'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :email %><br>
        <%= f.text_field :email, class:'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :body %><br>
        <%= f.text_area :body, class:'form-control' %>
      </div>
       <div class="form-group">
        <%= f.submit "Submit", class:'btn btn-primary' %>
      </div>
  <% end %>
  </div>
</div>