<!-- FRONTEND LAYOUT -->
<!DOCTYPE html>
<html>
<head>
  <title>Dev</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div class="navbar navbar-default" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><h1>rBlog</h1></a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="<%= params[:controller] == 'posts' && params[:action] == 'index' ? 'active' : '' %>"><%= link_to "Home", root_path %></li></li>
            <li class="<%= params[:controller] == 'about' ? 'active' : '' %>"><%= link_to "About", about_path %></li>
            <li class="<%= params[:controller] == 'contacts' ? 'active' : '' %>"><%= link_to "Contact", contact_path %></li>
          </ul>
          <%= render 'partials/search' %>
        </div><!--/.nav-collapse -->
      </div>
  </div>

  <section>
      <div class="container">       
        <div class="row">
          <div class="col-md-8">
            <!-- Alerts & Messages -->
            <% if flash[:notice] %>
              <div class="alert alert-success"><%= flash[:notice] %></div>
            <% end %>

            <% if flash[:alert] %>
              <div class="alert alert-danger"><%= flash[:alert] %></div>
            <% end %>

          	<!-- Main Content -->
            <%= yield %>
          </div>
           <div class="col-md-4">
            <%= render 'partials/sidebar' %>
           </div>
        </div>
      </div>
  </section>

  <%= render 'partials/footer' %>

    <script src="js/jquery-1.11.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
